/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  width: 400px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #09141a;
  font-size: 1.15em;
  overflow: hidden;
  height: 100% !important;
  background-color: #2f404b !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  height: 100% !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

.uppar {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.lower {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.wrap-sidebar {
  height: 100%;
}

.bm-item {
  display: flex !important;
  flex-direction: column !important;
}

.inputlow {
  margin: 10px 10px 10px 20px;
  width: 300px;
  height: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.btn-side {
  margin-top: 10px;
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: none;
}

.sendmessage {
  background-color: #a90000;
}
